*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hyphenated {
  hyphens: auto;
  word-break: break-word;
}

.h-reset {
  margin: 0;
  font-size: inherit;
}

.flex-row {
  display: flex;
  align-items: center;
}

.section {
  margin-top: 48px;
  margin-bottom: 118px;

  @include small-tablet {
    margin-bottom: 70px;
  }
}

.over {
  max-width: max-content;
}

.project_title,
.project_title--main {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: clamp(30px, 4.5vw, 50px);
  line-height: 120%;
  color: #172224;
  margin: 0;
}

.project_title--main {
  font-weight: 600;
  font-size: 76px;
  font-size: clamp(34px, 4.5vw, 76px);
}

.project_title_h3, .project_title_h4 {
  margin: 0;
  font-size: clamp(24px, 4vw, 32px);
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 120%;
  color: #172224;
}
.project_title_h4 {
  font-size: clamp(20px, 4vw, 24px);
}
.project_link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000;
  border: 2px solid #d2fc1b;
  border-radius: 30px;
  padding: 12px 24px;
  background: linear-gradient(88deg, #4aff00 0%, #e3fb1e 100%);
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: max-content;
  transition: all 0.3s ease;
  /* Добавляем плавный переход для всех свойств */


  & svg {
    fill: #222222;
    transition: fill 0.3s ease;
  }
}

// .project_link:hover {
//   background: linear-gradient(88deg, #e3fb1e 0%, #4aff00 100%); /* Меняем направление градиента */
//   color: #fff; /* Меняем цвет текста при наведении */
//   border-color: #4aff00; /* Меняем цвет границы при наведении */
//   transform: scale(1.05); /* Легкое увеличение размера кнопки */
// }
// .project_link:hover svg {
//   fill: #fff; /* Меняем цвет иконки при наведении */
// }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 1;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: grid;
}