.areas {
    position: relative;

    & .project_title {
        margin-bottom: 60px;
    }

    & .flex-row {
        gap: clamp(15px, 4vw, 64px);

        @media (max-width: 1400px) {
            flex-wrap: wrap;
        }

        & dl {

            @media (max-width: 1400px) {
                flex: 1 0 calc(50% - 60px);
                max-width: calc(50% - 60px);
            }

            @media (max-width: 650px) {
                flex: unset;
                max-width: unset;
            }

            & dt {}

            & dd {
                font-family: "Mulish", sans-serif;
                font-weight: 400;
                font-size: clamp(25px, 3vw, 32px);
                line-height: 120%;
                color: #172224;
            }
        }

        & .project_link {
            margin-left: auto;

            @media (max-width: 1400px) {
                margin-left: unset;
                flex: 1 0 calc(50% - 60px);
            }

            @media (max-width: 650px) {
                flex: unset;
                max-width: unset;
            }
        }

    }

    & .grid-row {
        margin-top: 60px;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        gap: 6px;

        @include small-mobile {
            grid-template-columns: 1fr;
        }
    }

    & .areas_items_content {
        border: 1px solid rgba(23, 34, 36, 0.8);
        border-radius: 32px;
        padding: 24px 24px 32px 24px;
        display: grid;
        grid-template-columns: 1fr 48px;
        gap: 20px;
        column-gap: 32px;

        @include mobile {
            padding: 12px 12px 20px;
            grid-template-columns: 1fr 30px;
            gap: 10px;
            column-gap: 15px;

            & p {
                grid-column: 2 span;
            }

            & img {
                grid-row: 1;
                grid-column: 2;
            }
        }

        & .project_title_h4 {
            grid-column: 2 span;

            @include mobile {
                grid-column: 1;
            }
        }

        & p {
            margin: 0;
            font-family: "Mulish", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: rgba(23, 34, 36, 0.8);
        }
    }

    & .area_ellipse {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        transform: translateY(-30%);
        
        @include mobile{
            
            transform: translateY(50%);
        }
    }
}